<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="EH.Properties.Settings.ConnectionString" connectionString="Data Source=LIMS_PX;Persist Security Info=True;User ID=lims0;Password=lims0;Unicode=True"
      providerName="System.Data.OracleClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <generatePublisherEvidence enabled="false"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="EP;GC"/>
    </assemblyBinding>
  </runtime>
</configuration>

